{
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": false,
  "useTabs": false,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}